# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [9]:
import pandas as pd
import numpy as np

In [34]:
import requests
import urllib.request as url

In [38]:
data = url.urlopen('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')
print("result code: ",str(data.getcode()))

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [16]:
data = pd.read_csv(r'C:\Users\kukumar\OneDrive - AMDOCS\Backup Folders\Documents\GitHub\LearningPython\Chipotle\chipotle.tsv',sep='\t')
data.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [19]:
data[['order_id','item_name']]

      order_id                              item_name
0            1           Chips and Fresh Tomato Salsa
1            1                                   Izze
2            1                       Nantucket Nectar
3            1  Chips and Tomatillo-Green Chili Salsa
4            2                           Chicken Bowl
5            3                           Chicken Bowl
6            3                          Side of Chips
7            4                          Steak Burrito
8            4                       Steak Soft Tacos
9            5                          Steak Burrito
10           5                    Chips and Guacamole
11           6                   Chicken Crispy Tacos
12           6                     Chicken Soft Tacos
13           7                           Chicken Bowl
14           7                    Chips and Guacamole
15           8  Chips and Tomatillo-Green Chili Salsa
16           8                        Chicken Burrito
17           9                        Chicken Burrito
18           9                            Canned Soda
19          10                           Chicken Bowl
20          10                    Chips and Guacamole
21          11                       Barbacoa Burrito
22          11                       Nantucket Nectar
23          12                        Chicken Burrito
24          12                                   Izze
25          13           Chips and Fresh Tomato Salsa
26          13                           Chicken Bowl
27          14                       Carnitas Burrito
28          14                            Canned Soda
29          15                        Chicken Burrito
...        ...                                    ...
4592      1825                       Barbacoa Burrito
4593      1825                          Carnitas Bowl
4594      1825                          Barbacoa Bowl
4595      1826                           Chicken Bowl
4596      1826                    Chips and Guacamole
4597      1826                      Canned Soft Drink
4598      1826                          Bottled Water
4599      1827                           Chicken Bowl
4600      1827                    Chips and Guacamole
4601      1827                      Canned Soft Drink
4602      1827                       Barbacoa Burrito
4603      1827                       Barbacoa Burrito
4604      1828                           Chicken Bowl
4605      1828                    Chips and Guacamole
4606      1828                      Canned Soft Drink
4607      1829                          Steak Burrito
4608      1829                         Veggie Burrito
4609      1829                      Canned Soft Drink
4610      1830                          Steak Burrito
4611      1830                         Veggie Burrito
4612      1831                          Carnitas Bowl
4613      1831                                  Chips
4614      1831                          Bottled Water
4615      1832                     Chicken Soft Tacos
4616      1832                    Chips and Guacamole
4617      1833                          Steak Burrito
4618      1833                          Steak Burrito
4619      1834                     Chicken Salad Bowl
4620      1834                     Chicken Salad Bowl
4621      1834                     Chicken Salad Bowl

[4622 rows x 2 columns]

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = data
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [89]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [90]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [91]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [92]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [93]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [94]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [8]:
c = chipo.groupby('item_name')
c = c.sum()
c.head(5)

                       order_id  quantity
item_name
6 Pack Soft Drink         52322        55
Barbacoa Bowl             53972        66
Barbacoa Burrito          74718        91
Barbacoa Crispy Tacos      5613        12
Barbacoa Salad Bowl        9708        10

In [96]:
c = c.sort_values(['quantity'],ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [97]:
c = chipo.groupby(by = 'item_name').sum().sort_values(['quantity'],ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [98]:
c = chipo.groupby(by = 'choice_description').sum().sort_values(['quantity'],ascending = False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [99]:
chipo.quantity.value_counts().sum()

4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [122]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [172]:
chipo =  pd.read_csv(r'C:\Users\kukumar\OneDrive - AMDOCS\Backup Folders\Documents\GitHub\LearningPython\Chipotle\chipotle.tsv',sep='\t')
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [173]:
dollariser = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollariser)

chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

#### Step 13.c. Check the item price type

In [175]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [179]:
print("Revenue for the duration is : $",(chipo.quantity * chipo.item_price).sum())

Revenue for the duration is : $ 39237.02

### Step 15. How many orders were made in the period?

In [190]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [203]:
# Solution 1
chipo['revenue'] = chipo.quantity * chipo.item_price
c = chipo.groupby('order_id').sum()
c.mean()['revenue']

21.394231188658654

In [209]:
# Solution 2
chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [213]:
chipo.item_name.value_counts().count()

50