In [58]:
import pandas as pd
data = pd.read_csv(r'C:\Users\kukumar\OneDrive - AMDOCS\Backup Folders\Documents\GitHub\LearningPython\Chipotle\chipotle.tsv',sep = '\t')
print(data.head(5))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [59]:
data.shape[0]

4622

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [61]:
data.shape[1]

5

In [62]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [63]:
print(type(data.columns))

<class 'pandas.core.indexes.base.Index'>

In [64]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [65]:
data.index

RangeIndex(start=0, stop=4622, step=1)

In [66]:
c = data.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'],ascending = False)
print(c.head(1))

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [67]:
c = data.groupby('choice_description')
c = c.sum()
c = c.sort_values(['quantity'],ascending = False)
print(c.head(1))

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

#hello

In [68]:
data.quantity.sum()

4972

In [69]:
data.item_price.dtype

dtype('O')

In [70]:
#data[['item_price']] = data[['item_price']].apply(pd.to_numeric)
dollarizer = lambda x:float(x[1:-1])
data.item_price = data.item_price.apply(dollarizer)

In [72]:
print(data.head(5))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

In [73]:
import numpy as np

In [77]:
revenue = (data['quantity']*data['item_price']).sum()
print('Revenue was: $' + str(revenue))

Revenue was: $39237.02

In [75]:
print(revenue)

39237.02

In [84]:
data.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [90]:
data.order_id.value_counts().count()

1834

In [93]:
data.order_id.value_counts(dropna = False).count()

1834

In [94]:
data.order_id.count()

4622

In [103]:
data['revenue'] = data.quantity * data.item_price
order_group = data.groupby('order_id').sum()
order_group.head(5)

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70

In [104]:
data.head(5)

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [ ]:
order_group.mean()['revenue']

In [107]:
#How many different items
data.item_name.value_counts().count()

50