In [1]:
import pandas as pd

## Create 3 Datasets

In [2]:
dummy_data1 = {
        'id': ['1', '2', '3', '4', '5'],
        'Feature1': ['A', 'C', 'E', 'G', 'I'],
        'Feature2': ['B', 'D', 'F', 'H', 'J']}

In [6]:
df1 = pd.DataFrame(dummy_data1, columns = ['id','Feature1','Feature2'])
df1.head(2)

  id Feature1 Feature2
0  1        A        B
1  2        C        D

In [7]:
dummy_data2 = {
        'id': ['1', '2', '6', '7', '8'],
        'Feature1': ['K', 'M', 'O', 'Q', 'S'],
        'Feature2': ['L', 'N', 'P', 'R', 'T']}

In [8]:
df2 = pd.DataFrame(dummy_data2, columns = ['id','Feature1','Feature2'])
df2.head(2)

  id Feature1 Feature2
0  1        K        L
1  2        M        N

In [9]:
dummy_data3 = {
        'id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'Feature3': [12, 13, 14, 15, 16, 17, 15, 12, 13, 23]}

In [12]:
df3 = pd.DataFrame(dummy_data3, columns = ['id','Feature3'])
df3.head(2)

  id  Feature3
0  1        12
1  2        13

## Concatenate df1 and df2
Rownumbering is incorrect once you concat, to rectify the row numbers we need  to use ignore_index = True

In [16]:
#df_row = pd.concat([df1,df2])
df_row = pd.concat([df1,df2],ignore_index = True)
df_row

  id Feature1 Feature2
0  1        A        B
1  2        C        D
2  3        E        F
3  4        G        H
4  5        I        J
5  1        K        L
6  2        M        N
7  6        O        P
8  7        Q        R
9  8        S        T