In [2]:
import pandas as pd

In [6]:
url = r"https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
names = ['sepal-length','sepal-width','petal-length','petal-width','class']

In [8]:
dataset = pd.read_csv(url,names=names)
dataset.head(5)

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [13]:
X=dataset.drop('class',1)
Y=dataset['class']
print('X dataset top values')
X.head(2)
print('Y dataset top values')
Y.head(2)

X dataset top values
Y dataset top values

0    Iris-setosa
1    Iris-setosa
Name: class, dtype: object

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2, random_state = 100)
x_train.head(1)

    sepal-length  sepal-width  petal-length  petal-width
81           5.5          2.4           3.7          1.0

In [25]:
x_test.head(1)

     sepal-length  sepal-width  petal-length  petal-width
128           6.4          2.8           5.6          2.1

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [17]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [18]:
from sklearn.decomposition import PCA
pca = PCA()
x_train = pca.fit_transform(x_train)
x_test = pca.transform(x_test)

In [19]:
explained_variance = pca.explained_variance_ratio_
print(explained_variance)

[0.71219991 0.24365244 0.03918487 0.00496279]