In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [6]:
data = pd.read_csv(r'C:\Users\kukumar\OneDrive - AMDOCS\Backup Folders\Documents\GitHub\LearningPython\knn algorithm\xy_cordinates.csv')
data.head(2)

   height  weight  age gender size
0     170      66   70      M    L
1     175      69   60      M    L

In [7]:
x = pd.DataFrame(data,columns = ['height','weight','age'])
y = pd.DataFrame(data,columns = ['size'])

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 23)
knn = KNeighborsClassifier(n_neighbors=3)

In [11]:
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)

C:\Users\kukumar\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

In [12]:
y_test.head(2)

  size
5    M
8    L

In [14]:
print(y_pred)

['M' 'L']

In [15]:
accs = metrics.accuracy_score(y_pred,y_test)
print(accs)

1.0